
# Old etc.
*.old*
*.orig
/*.patch
*.ref*

# Variable data.
/var/

# Nonpersistent stuff.
TODO.md

# Shared VS Code settings.
/.vscode/*
!/.vscode/*.json

# Custom VS Code settings.
/*.code-workspace
