
# Project-specific.
# AF: TODO: Fin.
/node1/share/*
!/node1/share/.keep
/pw1/data/*
!/pw1/data/.keep
/pw1/share/*
!/pw1/share/.keep

# Old etc.
*.old*
*.orig
/*.patch
*.ref*

# Variable data.
/var/

# Nonpersistent stuff.
TODO.md

# Shared VS Code settings.
/.vscode/*
!/.vscode/*.json

# Custom VS Code settings.
/*.code-workspace
